<app-search-pokemon (dataEmitted)="pokemonSearch($event)" />
<div class="position-fixed bottom-0 end-0 p-3">
      <div>
        <button (click)="addPokemon()" type="button" class="btn btn-success btn-lg rounded-circle">+</button>
      </div>
</div>

@if (pokemonList.isLoading()) {
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}

<div class="container mt-5">
  <div class="row">
    @for (pokemon of filteredPokemonList(); track pokemon.id)
    {
      <div class="col-lg-4 col-md-6 col-sm-12 mb-3 pokemon-card" (click)="goToPokemon(pokemon.id)">
        <div class="container d-flex justify-content-center flex-column" style="width:350px">
          <span class="shadow p-3 h-75" appPokemonBorderDirective [pokemonType]="pokemon.types[0]" >
             <p class="text-center"> <strong> {{pokemon.name | reverse}} </strong> </p>
            <img class="mx-5" [src]="pokemon.picture" [alt]="pokemon.name" width="200px" height="200px">
            <p>Point de vie {{pokemon.life}}</p>
            <p>Taille {{size(pokemon)}}</p>
            <p>Dégat : {{pokemon.damage}}</p>
          </span>
        </div>
      </div>
    }
  </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3">
  <div #toastElement id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/images/pokeball.png" width="30px" height="30px" class="rounded me-2" alt="...">
      <strong class="me-auto">Pokémon</strong>
      <small>1 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{messageFromQueryParam}}
    </div>
  </div>
</div>
